<h1 style="text-align:center; margin-top:20px; color:brown;">ro'yhatdan o'tdingiz <br> 24 soat ichida sizga bog'lanishadi</h1>
<a href="{%url 'home'%}" style="text-decoration:none;display: block;
margin: 20px auto 0;
width: 150px;
height: 40px;
border-radius: 25px;
border: none;
color: #eee;
font-weight: 700;
box-shadow: 1px 4px 10px 1px #aaa;

background: #207cca;
background: -moz-linear-gradient(left, #207cca 0%, #9f58a3 100%); 
background: -webkit-linear-gradient(left, #207cca 0%,#9f58a3 100%);
background: linear-gradient(to right, #207cca 0%,#9f58a3 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207cca', endColorstr='#9f58a3',GradientType=1 );text-align: center;
padding-top: 15px; ">bosh sahifa</a>